bin/
obj/
/bin/Debug
/bin/Debug
/obj
.vs/ProjectEvaluation/weatherforecastmauiapp.metadata.v7.bin
.vs/ProjectEvaluation/weatherforecastmauiapp.projects.v7.bin
.vs/WeatherForecastMauiApp/DesignTimeBuild/.dtbcache.v2
.vs/WeatherForecastMauiApp/FileContentIndex/66224e00-febf-4cc8-a260-faf1f3d58918.vsidx
.vs/WeatherForecastMauiApp/FileContentIndex/a9454ada-24b7-4f2b-aef5-1b336603298a.vsidx
.vs/WeatherForecastMauiApp/v17/.futdcache.v2
.vs/WeatherForecastMauiApp/v17/.suo
.vs/WeatherForecastMauiApp/v17/DocumentLayout.json
